.advantages {
  background-color: #373737;
}

.advantages__list {
  padding-top: 30px;
}

.advantages__item {
  padding-bottom: 72px;
}

.advantages__image {
  border-radius: 19px;
}

.advantages__item--title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.advantages__item--text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
