.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #272727;
}

.gallery__list {
  margin-bottom: 30px;
}

.gallery__image {
  border-radius: 15px;
}

.gallery__video {
  border-radius: 19px;
  margin-bottom: 30px;
}

.сharacteristics {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.сharacteristics__title {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 2px solid #c80000;
  color: #fff;
}

.сharacteristics__img {
  width: 144px;
  height: 219px;
  border-radius: 18px;
}

.сharacteristics__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #4f4f4f;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.сharacteristics__more--btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #adacac;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.сharacteristics__more--icon {
  margin-right: 20px;
  width: 16px;
  height: 16px;
}
