header {
  background-color: #000;
  border-bottom: 1px solid #ffda7c;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 10px 0;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__list__item:not(:last-child) {
  margin-right: 29px;
}

.header__item__link {
  display: block;
}

.header__icon {
  width: 19px;
  height: 20px;
}
