<section class="accessories">
    <div class="container">
        <h2 class="accessories__title title">Аксессуары (9)</h2>
        <ul class="accessories__list">
            <li class="accessories__item">
                <picture>
                    <source srcset="./images/knife-accessories.png 1x, ./images/knife-accessoriesx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="accessories__item--img" src="./images/knife-accessories.png" alt="нож с синей ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="accessories__item">
                <picture>
                    <source srcset="./images/knife-accessories.png 1x, ./images/knife-accessoriesx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="accessories__item--img" src="./images/knife-accessories.png" alt="нож с синей ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="accessories__item">
                <picture>
                    <source srcset="./images/knife-accessories.png 1x, ./images/knife-accessoriesx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="accessories__item--img" src="./images/knife-accessories.png" alt="нож с синей ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="accessories__item">
                <picture>
                    <source srcset="./images/knife-accessories.png 1x, ./images/knife-accessoriesx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="accessories__item--img" src="./images/knife-accessories.png" alt="нож с синей ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
        </ul>
    </div>
</section>