<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item">
                <img class="advantages__image" src="./images/knife1.jpg" alt="Ножи">
                <h2 class="advantages__item--title title">Исключительное качество без компромиссов</h2>
                <p class="advantages__item--text">Ножи «Tuotown» — это главный инструмент поваров и секрет кулинарного
                    мастерства</p>
            </li>
            <li class="advantages__item">
                <img class="advantages__image" src="./images/knife2.jpg" alt="Ножи">
                <h2 class="advantages__item--title title">Исключительное качество без компромиссов</h2>
                <p class="advantages__item--text">Ножи «Tuotown» — это главный инструмент поваров и секрет кулинарного
                    мастерства</p>
            </li>
        </ul>
    </div>
</section>