<footer>
    <div class="footer__container container">
        <div class="logo-box">
            <picture class="logo-box__img">
                <source srcset="./images/footer-logo.png 1x, ./images/footer-logox2.png 2x" media="(max-width: 767px)">
                <img class="logo-box__img" src="./images/footer-logo.png" alt="логотип">
            </picture>
            <p class="logo-box__text">легендарные ножи, создающие шедевры</p>
        </div>
        <div class="about">
            <p class="about-pre__text">Компания «Tuotown» — эксклюзивный представитель профессиональных кухонных ножей,
                изготовленных
                лучшими
                мастерами Восточной Азии с применением передового европейского оборудования и современных материалов.
            </p>
            <p class="about__text">Они отличаются идеальным балансом и фантастической остротой. Сочетают в себе вековые
                традиции и новейшие
                разработки.
                Также предлагаем широкий ассортимент сопутствующих товаров.
            </p>
        </div>
        <div class="footer-menu">
            <div class="information">
                <h2 class="information__title title">Информация</h2>
                <ul class="information__list">
                    <li class="information__item"><a class="information__link" href="#">Главная</a></li>
                    <li class="information__item"><a class="information__link" href="#">Новости</a></li>
                    <li class="information__item"><a class="information__link" href="#">О компании</a></li>
                    <li class="information__item"><a class="information__link" href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="catalog">
                <h2 class="catalog__title title">Каталог</h2>
                <ul class="catalog__list">
                    <li class="catalog__item"><a class="catalog__link" href="#">Кухонные ножи</a></li>
                    <li class="catalog__item"><a class="catalog__link" href="#">Складные ножи</a></li>
                    <li class="catalog__item"><a class="catalog__link" href="#">Точилки для ножей</a></li>
                    <li class="catalog__item"><a class="catalog__link" href="#">Аксессуары</a></li>
                </ul>
            </div>
        </div>
        <div class="social">
            <h2 class="social__title title">Мы в соцсетях</h2>
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use href="./images/symbol-defs.svg#icon-vkontakte"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use href="./images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use href="./images/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <h2 class="contact__title title">Контактная информация</h2>
            <div class="contact-box__link">
                <a class="contact__tel" href="tel:+38(044)-455-55-67">+38(044)-455-55-67</a>
                <a class="contact__mail" href="mail:noname@bla.com">noname@bla.com</a>
            </div>
            <p class="contact__text">
                Украина, Киев, Русский корабль иди нахуй
            </p>
            <p class="schedule">
                08:00 — 18:00, ежедневно
            </p>
        </div>
    </div>
</footer>