<section class="gallery">
    <div class="container">
        <ul class="gallery__list">
            <li class="gallery__item">
                <img class="gallery__image" src="./images/knife_gallery.jpg" alt="">
            </li>
        </ul>
    </div>
    <img class="gallery__video" src="./images/knife_video.jpg" alt="">
    <div class="container">
        <div class="сharacteristics">
            <h2 class="сharacteristics__title title">Характеристики</h2>
            <img class="сharacteristics__img" src="./images/knife_structure.jpg" alt="">
        </div>
        <ul class="сharacteristics__list">
            <li class="сharacteristics__item">
                <p class="сharacteristics__text">Длина лезвия</p>
                <p class="сharacteristics__text">24 см</p>
            </li>
            <li class="сharacteristics__item">
                <p class="сharacteristics__text">Длина лезвия</p>
                <p class="сharacteristics__text">24 см</p>
            </li>
            <li class="сharacteristics__item">
                <p class="сharacteristics__text">Длина лезвия</p>
                <p class="сharacteristics__text">24 см</p>
            </li>
            <li class="сharacteristics__item">
                <p class="сharacteristics__text">Длина лезвия</p>
                <p class="сharacteristics__text">24 см</p>
            </li>
            <li class="сharacteristics__item">
                <p class="сharacteristics__text">Длина лезвия</p>
                <p class="сharacteristics__text">24 см</p>
            </li>
        </ul>
        <button class="сharacteristics__more--btn">
            <svg class="сharacteristics__more--icon">
                <use href="./images/symbol-defs.svg#icon-more"></use>
            </svg>
            больше характеристик
        </button>
    </div>
</section>