<header>
    <div class="container header__container">
        <ul class="header__list">
            <li class="header__list__item">
                <a class="header__item__link">
                    <svg class="header__icon" aria-label="Переключатель мобильного меню">
                        <use href="./images/symbol-defs.svg#icon-menu"></use>
                    </svg>
                </a>
            </li>
            <li class="header__list__item">
                <a class="header__item__link">
                    <svg class="header__icon" aria-label="Телефон">
                        <use href="./images/symbol-defs.svg#icon-phone"></use>
                    </svg>
                </a>
            </li>
            <li class="header__list__item">
                <a class="header__item__link">
                    <svg class="header__icon" aria-label="Корзина">
                        <use href="./images/symbol-defs.svg#icon-order"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <a class="header__logo" href="#">
            <img src="./images/logo.png" alt="logo">
        </a>
    </div>
</header>