<section class="hero">
    <div class="container hero__container">
        <div class="hero__meta">
            <h1 class="hero__title title">
                Исключительное качество без компромиссов
            </h1>
            <p class="hero__title--after">Ножи «Tuotown» — это главный инструмент поваров и секрет кулинарного
                мастерства
            </p>
            <button class="hero__btn">купить</button>
            <span class="hero__btn--text">
                48 тыс. р.
            </span>
        </div>
    </div>
    <picture>
        <source srcset="./images/hero_bg.jpg 1x, ./images/hero_bg2x.jpg 2x" media="(max-width: 767px)">
        <img class="hero__bg" src="./images/hero_bg.jpg" alt="Нож на досточке с овощами">
    </picture>

</section>