<section class="hero">
    <div class="container hero__container">
        <div class="hero__meta">
            <h1 class="hero__title title">
                Исключительное качество без компромиссов
            </h1>
            <p class="hero__title--after">Ножи «Tuotown» — это главный инструмент поваров и секрет кулинарного
                мастерства
            </p>
            <button class="hero__btn">купить</button>
            <span class="hero__btn--text">
                48 тыс. р.
            </span>
        </div>
    </div>
    <img class="hero__bg" src="./images/hero_bg.jpg" alt="">
</section>