<section class="subscribe">
    <div class="container">
        <h2 class="subscribe__title title">Узнавайте первым о новинках и новостях</h2>
        <form class="subscribe__form">
            <label class="subscribe__label">
                <input class="subscribe__input" type="email" placeholder="Ваш e-mail">
                <button class="subscribe__submit">
                    <svg class="subscribe__icon" aria-label="">
                        <use href="./images/symbol-defs.svg#icon-arrow--right"></use>
                    </svg>
                </button>
            </label>
        </form>
    </div>
</section>