<section class="watch-more">
    <div class="container">
        <h2 class="watch-more__title title">Смотрите также</h2>
        <ul class="watch-more__list">
            <li class="watch-more__item">
                <img class="watch-more__item--img" src="./images/knife-watch.png" alt="">
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <img class="watch-more__item--img" src="./images/knife-watch.png" alt="">
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <img class="watch-more__item--img" src="./images/knife-watch.png" alt="">
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <img class="watch-more__item--img" src="./images/knife-watch.png" alt="">
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
        </ul>
    </div>
</section>