<section class="watch-more">
    <div class="container">
        <h2 class="watch-more__title title">Смотрите также</h2>
        <ul class="watch-more__list">
            <li class="watch-more__item">
                <picture>
                    <source srcset="./images/knife-watch.png 1x, ./images/knife-watchx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="watch-more__item--img" src="./images/knife-watch.png" alt="нож с черной ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <picture>
                    <source srcset="./images/knife-watch.png 1x, ./images/knife-watchx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="watch-more__item--img" src="./images/knife-watch.png" alt="нож с черной ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <picture>
                    <source srcset="./images/knife-watch.png 1x, ./images/knife-watchx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="watch-more__item--img" src="./images/knife-watch.png" alt="нож с черной ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
            <li class="watch-more__item">
                <picture>
                    <source srcset="./images/knife-watch.png 1x, ./images/knife-watchx2.png 2x"
                        media="(max-width: 767px)">
                    <img class="watch-more__item--img" src="./images/knife-watch.png" alt="нож с черной ручкой">
                </picture>
                <div class="card-meta">
                    <p class="card__info">Складной нож<br>SQ01-B</p>
                    <p class="card__cost">850 р.</p>
                </div>
            </li>
        </ul>
    </div>
</section>